@model CoHoiCuoiCung.Models.QUYEN

@{
    ViewBag.Title = "Chính sửa quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh sửa quyền</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MA_QUYEN)

        <div class="form-group">
            @Html.LabelFor(model => model.TEN_QUYEN, "Tên quyền sử dụng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TEN_QUYEN, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TEN_QUYEN)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default form-control" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
