@model CoHoiCuoiCung.Models.TAI_KHOAN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TAI_KHOAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_TAI_KHOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_TAI_KHOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAT_KHAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAT_KHAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOC_GIA.TEN_DOC_GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOC_GIA.TEN_DOC_GIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHAN_VIEN.TEN_NHAN_VIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHAN_VIEN.TEN_NHAN_VIEN)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
