@{
    ViewBag.Title = "Trang độc giả";
    Layout = "~/Views/Shared/_LayoutDocGia.cshtml";

}

<h3>Thông tin độc giả</h3>
<label>Tên độc giả:</label> @ViewData["tenDocGia"] <br />
<label>Số điện thoại:</label> @ViewData["sdtDocGia"] <br />
<label>Địa chỉ độc giả:</label> @ViewData["diaChiDocGia"]<br />
<label>Đối tượng:</label> @ViewData["tenDoiTuong"]<br />
<label>Tên độc giả:</label> @ViewData["email"] <br />
<label>Ngày tham gia:</label> @ViewData["ngayThamGia"] <br />
<label>Ngày hết hạn:</label> @ViewData["ngayHetHan"] <br />
