@model CoHoiCuoiCung.Models.DOC_GIA

@{
    ViewBag.Title = "Thêm thông tin độc giả";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm thông tin độc giả</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MA_DOI_TUONG, "Đối tượng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MA_DOI_TUONG", String.Empty)
                @Html.ValidationMessageFor(model => model.MA_DOI_TUONG)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Giới tính", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="gioiTinh">
                    <option value="1">Nam</option>
                    <option value="0">Nữ</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TEN_DOC_GIA, "Họ và tên", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TEN_DOC_GIA)
                @Html.ValidationMessageFor(model => model.TEN_DOC_GIA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CMND, "Số CMND", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CMND)
                @Html.ValidationMessageFor(model => model.CMND)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDT_DOC_GIA, "Số điện thoại", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT_DOC_GIA)
                @Html.ValidationMessageFor(model => model.SDT_DOC_GIA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DIA_CHI_DOC_GIA, "Địa chỉ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIA_CHI_DOC_GIA)
                @Html.ValidationMessageFor(model => model.DIA_CHI_DOC_GIA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMAIL, "Email", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMAIL)
                @Html.ValidationMessageFor(model => model.EMAIL)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tên tài khoản", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("tenTaiKhoan")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mật khẩu", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("matKhau")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
