@model CoHoiCuoiCung.Models.CHINH_SACH_LUU_THONG

@{
    ViewBag.Title = "Thêm chính sách lưu thông";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm chính sách lưu thông</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.SO_SACH_MUON_TOI_DA, "Số sách được mượn tối đa", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SO_SACH_MUON_TOI_DA, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.SO_SACH_MUON_TOI_DA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SO_NGAY_MUON, "Số ngày mượn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SO_NGAY_MUON, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SO_NGAY_MUON)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SO_LAN_DUOC_GIA_HAN, "Số lần được gia hạn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SO_LAN_DUOC_GIA_HAN, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SO_LAN_DUOC_GIA_HAN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SO_NGAY_GIA_HAN, "Số ngày gia hạn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SO_NGAY_GIA_HAN, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SO_NGAY_GIA_HAN)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default form-control" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
