@model CoHoiCuoiCung.Models.DAU_SACH
@using CoHoiCuoiCung.Models;
@{
    ViewBag.Title = "Thêm đầu sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TAC_GIA> listTacGia = (List<TAC_GIA>)ViewBag.listTacGia;
}

<h2>Thêm đầu sách</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MA_NGON_NGU, "Ngôn ngữ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MA_NGON_NGU", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MA_NGON_NGU)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MA_NXB, "Nhà xuất bản", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MA_NXB", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MA_NXB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MA_LOAI_SACH, "Loại sách", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MA_LOAI_SACH", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MA_LOAI_SACH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TEN_DAU_SACH, "Tên đầu sách", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TEN_DAU_SACH, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TEN_DAU_SACH)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tác giả", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var item in listTacGia)
                {
                    <input type="checkbox" name="TG.@item.MA_TAC_GIA" />
                    @item.TEN_TAC_GIA
                    <br />
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default form-control" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
