@model CoHoiCuoiCung.Models.CUON_SACH

@{
    ViewBag.Title = "Thêm sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm sách</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MA_DAU_SACH, "Đầu sách", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MA_DAU_SACH", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MA_DAU_SACH)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tên sách", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TEN_SACH, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TEN_SACH)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Năm xuất bản", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NAM_XUAT_BAN, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NAM_XUAT_BAN)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mã vạch", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MA_VACH, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MA_VACH)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Giá sách", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GIA_SACH, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GIA_SACH)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Số trang", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SO_TRANG, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SO_TRANG)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tái bản", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TAI_BAN, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TAI_BAN)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Số lượng sách", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SO_LUONG, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SO_LUONG)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ghi chú", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GHI_CHU_SACH, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GHI_CHU_SACH)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
