@model CoHoiCuoiCung.Models.TAC_GIA

@{
    ViewBag.Title = "Thêm tác giả";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm tác giả</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TEN_TAC_GIA,"Tên tác giả", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TEN_TAC_GIA, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.TEN_TAC_GIA)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default form-control" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
